---
title: 首页
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
            <a class="logo" href="{{ page.baseurl }}"
               style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
        <div class="content">
            <h2>关于我</h2>

            <p>这应该是一段介绍，但是这个人很懒，什么也没有留下。</p>

            <h2>关于本站</h2>
            <ul>
                <li>个人博客</li>
                <li>技术相关</li>
                <li>写着玩</li>
            </ul>

            <p>下面应该是文章列表</p>

            <ul class="fa-ul main-list">
                {% for post in site.posts %}
                <li class="main-list-item">
                    <span>{{ post.date | date_to_string }}</span>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <comment>
        <!-- 多说最新评论 start -->
        <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1"
             data-show-admin="1" data-excerpt-length="70"></div>
        <!-- 多说最新评论 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name: "kfirst"};
            (function () {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';
                ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </comment>
</div>
</body>
</html>