<style>
    #ds-reset {
        font-size: inherit;
        line-height: inherit;
    }

    .ds-share-icons-more {
        top: 18px !important;
        left: inherit !important;
        right: 0;
    }
</style>
<div class="ds-share" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-content="{{ page.excerpt }}"
     data-url="{{ site.url }}{{ page.url }}">
    <div class="ds-share-inline" data-toggle="ds-share-icons-more">
        <a class="ds-more" href="javascript:void(0);">分享</a>
        <div class="ds-share-icons-more"></div>
    </div>
</div>