<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="wrapper">
    <header>
        <div class="author-container"><h1>{{ page.title }}</h1></div>

        {% if page.subtitle %}
        <div class="tagline-container"><p>{{ page.subtitle }}</p></div>
        {% endif %}

        <div class="tagline-container">
            <p>{{ page.date | date_to_string }}</p>
        </div>
        <div style="clear:both"></div>
    </header>

    <main>
        <div class="content">
            {{ content }}
        </div>
        <div class="navigation">
            <div class="right">
                <span><a href="{{ site.url }}">返回首页</a></span>
            </div>

            <div class="right">
                {% include share.html %}
            </div>

            {% if page.previous.url %}
            <div>
                <span>上一篇《<a href="{{ page.previous.url }}">{{ page.previous.title }}</a>》</span>
            </div>
            {% endif %}

            {% if page.next.url %}
            <div>
                <span>下一篇《<a href="{{ page.next.url }}">{{ page.next.title }}</a>》</span>
            </div>
            {% endif %}

        </div>
    </main>
    <comment>
        {% include comments.html %}
    </comment>
    <div style="clear:both"></div>
</div>
<script type="text/javascript" src="{{ site.baseurl }}/assets/article.js"></script>
</body>
</html>
